.sortable {
    cursor: pointer;
    user-select: none;
}

.sortable:after {
    content: ' \25B4\25BE'; /* Unicode characters for up and down arrows */
    font-size: 0.8em;
}

.sorted-asc:after {
    content: ' \25B4'; /* Unicode character for up arrow */
}

.sorted-desc:after {
    content: ' \25BE'; /* Unicode character for down arrow */
}
